/* Basic CSS styling for pages */
.center {
  /* Centering components */
  display: flex;
  justify-content: center;
}
.subtitle {
  /* Subtitle used in Searchbycountry, Searchbycity */
  display: flex;
  justify-content: center;
  padding: 4vh 4vh;
}
.showborder {
  /* Used do display borders when making the design */
  border: 3px #ccc solid;
}
