.center {
  display: flex;
  justify-content: center;
}
.center2 {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}
.centerColumn {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Title1 {
  /* title shown in Homepage */
  display: flex;
  flex: 1;
  height: 40vh;
  flex-direction: row;
  align-items: CENTER;
}
.Subtitle {
  /* Subtitle used in Searchbycountry, Searchbycity */
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container {
  /* conatiner: used in myform, searchbycity, searchbycountry, Home */
  display: flex;
  justify-content: center;
}
.container2 {
  /* conatiner: used in myform, searchbycity, searchbycountry, Home */
  display: flex;
  justify-content: center;
}
.resaultsContainer {
  /* conatiner: used in myform, searchbycity, searchbycountry, Home */
  width: 45%;
  display: flex;
  justify-content: center;
  border: 3px #ccc solid;
}
