.myForm {
  /* CSS for Input in MyForm */
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  border: 0.15em solid #808080;
  border-radius: 0em;
  text-align: center;
}
.button {
  /* CSS for Button used in in MyForm */
  background-color: white;
  border-color: black;
  cursor: pointer;
}
.containerMyForm {
  /* container for MyForm */
  display: flex;
  flex-direction: column;
  width: 45%;
  max-width: 300px;
}
.center {
  /* Centering components */
  display: flex;
  justify-content: center;
}
